{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/css/login.css">

{% endblock %}

{% block content %}

<div class="login-form">
    <form action="#" method="post">
        {{ form.hidden_tag() }}
        <h2 class="text-center">Log In</h2>
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right" style="color: rgb(255, 129, 25);">Forgot Password?</a>
        </div>
    </form>
    <p class="text-center"><a href="/signup" style="color: rgb(255, 129, 25);">Create an Account</a></p>
</div>
{% endblock %}